.dark-input {
  background-color: #3b4252;
  height: 19px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 60px;
  justify-content: space-between;
}

.blue_bottom_border {
  border-bottom: #add7ff 1px solid;
}

.blue {
  color: #add7ff;
}

.icon {
  width: 15px;
}
